

:root{
    --clr-main: #0b7bfc;
    --clr-main-light: #4d9bf4;
    --clr-white: #ececec; 
    --clr-gray: #e2e2e2;
    --clr-red: #8c0000;  
    --font-size-card-title: 28px;
    --font-size-input-label: 20px;
    --font-size-button: 22px;
    --font-size-form-fieldset: 22px;
    --primary-color: #0071ea;
    --secondary-color: #d6eaff;
    --contrast-dark-color: #4d4d4d;
    
  --contrast-light-color: #fff;
  --warning-color: #df2525;
  --success-color: #047900;
  --transparency-color: #4d4d4d33;

  --shadow: 0 5px 10px #55a6ff38;
  --font-weigth-input: 300;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
input {
	border: none;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
}


.header_full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loggin{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;


   
}
.header__container__login {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 40%;
    height: 40px;

}

.header__container__login button {
    padding: 0.5rem 3rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.header__container__login button a {
    font-size: 12px;
    font-weight: bold;
    color: var(--primary-color);
}  
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: linear-gradient(
        to bottom,
        rgba(9, 157, 249, 0.756),
        rgba(46, 115, 242, 0.81)
    ), url("../img/fondo.jpg");
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
    0% {background-position: 0 10%;}
    50% {background-position: 30% 20%;}
    100% {background-position: 0 10%;}
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15vw;
    height: 15vh;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1.3rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-white);
    font-size: 1.2rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
    height: 400px;
    width: 400px;
    object-fit:cover;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
.main_bandera{
    background: rgb(0,212,255);
background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(247,247,250,1) 51%, rgba(0,212,255,1) 100%);
}
.index_titulo{
    padding-bottom: 30px;
}
.index__frames{
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: center;
}
.index_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.div-round {
	overflow: hidden;
	position: relative;
	z-index: 10;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    width: 25vw;
    height: 360px;
    margin: 10px;
}

.div-round::before {
	display: block;
	content: "";
}

.iframe-round {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	border: 0;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
/** Contacto**/
.contacto {
    background-color: var(--contrast-light-color);
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  
  .contacto__title {
    font-size: var(--font-size-card-title);
    margin-bottom: 1rem;
  }
  
.button {
    display: block;
    background-color: var(--primary-color);
    border-radius: 7px;
    width: 100%;
    margin-top: 1rem;
    max-width: 20rem;
    padding: 1.125rem;
    box-sizing: border-box;
    color: var(--contrast-light-color);
    font-size: var(--font-size-button);
    align-self: center;
    text-align: center;
  }
  
  .simple-button {
    border: none;
    background-color: unset;
  }
  
  .simple-button--add {
    color: var(--primary-color);
  }
  
  .simple-button--delete {
    color: var(--warning-color);
  }
  
  .simple-button--edit {
    color: var(--success-color);
  }
  
  .formulario {
    margin-top: 2rem;
  }
  
  .form__label {
    font-size: var(--font-size-form-fieldset);
    margin-bottom: 1rem;
  }
  
  .input-container {
    font-weight: var(--font-weigth-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  
  .input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondary-color);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
  }
  
  .input::placeholder {
    visibility: hidden;
    color: #00000000;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);
  
    transition: all 0.25s;
  }
  
  .input:not(:placeholder-shown) + .input-label,
  .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
  }
  
  .input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .input {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
  }
  
  .input-container--invalid .input-label {
    color: var(--warning-color);
  }
  
  .input-message-error {
    display: none;
  }
  
  .input-container--invalid .input-message-error {
    color: var(--warning-color);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .textarea {
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    padding: 0.5rem;
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
  }
  
  .textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--font-weigth-input);
  }
  
  .textarea::placeholder {
    visibility: hidden;
  }
  
  .textarea:focus {
    outline: none;
  }
  
  .textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);
    transition: all 0.25s;
  }
  
  .textarea:not(:placeholder-shown) + .textarea-label,
  .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
  }
  
  .textarea-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .textarea-container--invalid .textarea {
    border: 1px solid var(--warning-color);
  }
  
  .textarea-container--invalid .textarea-label {
    color: var(--warning-color);
  }
  
  .textarea-mensagem-erro {
    display: none;
  }
  
  .textarea-container--invalid .textarea-mensagem-erro {
    display: block;
    color: var(--warning-color);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }
  
/** CARRITO **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.audio {
    width: 300px;
    height: 35px;
}


/*** MEDIA QUERIES ***/
@media screen and (max-width: 1200px) {
    
    .producto-imagen {
    
        height: 300px;
        width: 400px;
@media screen and (max-width: 1000px) {
    
    .producto-imagen {
    
        height: 200px;
        width: 400px;
}
@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;

    }
    .producto-imagen {
    
        height: 200px;
        width: 400px;
}


@media screen and (max-width: 600px) {
    .loggin_mobile{
        display: flex;
        align-items: center;
    }
    #login_btn{ 
        padding: 8px;

    }
    .header__container__login{
       padding: 20;
    }
    .header__container__nombre{
        font-size: 16px;
    }
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 15;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }
.index__frames{
    flex-direction: column;
}

.div-round {

    width: 80vw;
    height: 200px;
    margin: 10px;
}
    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}

@media screen and (max-width: 400px) {
    
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
    .loggin_mobile{
        display: flex;
        align-items: center;
    }
    #login_btn{ 
        padding: 6px;

    }
    .header__container__login{
       padding: 0;
    }
    .header__container__nombre{
        font-size: 10px;
    }
}

